proxy=http://10.1.1.1:8080
https-proxy=http://10.1.1.1:8080
registry=https://registry.npmjs.org/

strict-peer-dependencies=false
save-prefix=""

shamefully-hoist=true
auto-install-peers=true
engine-strict=true
